.trade-header-container {
  background-color: #187aba;
  width: 1190px;
  height: 150px;
  box-sizing: border-box;
  padding: 40px 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.trade-header-container h1 {
  font-size: 2.875rem;
  margin: 0;
}

.trade-nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.trade-nav-container button {
  margin: 10px 40px 0 0;
  color: white;
  background-color: #187aba;
  height: 40px;
  border: none;
  align-self: center;
  font-size: .9375rem;
}