#.env
backend/.env
frontend/.env
db/.env

#node_modules
backend/node_modules
frontend/node_modules

Dockerrun.aws.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
