.portfolio-container {
  width: 95%;
}

.account-securities-container {
  width: 100%;
}

.account-securities {
  padding-left: 0%;
}

.account-securities li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 7px 0 7px 0;
  border-bottom: 1px solid #b2b2b2;
}

.portfolio-details {
  font-size: 14px;
}

.portfolio-details.red {
  color: red;
}

.portfolio-details.green {
  color: green;
}

.account-securities li>div {
  box-sizing: border-box;
  width: 150px;
}

