.company-description-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  width: 75%;
}

.company-description-body {
  padding-top: 10px;
  font-size: 14px;
  font-weight: normal;
}