@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

.home-page-header {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.home-page-header h1 {
  margin-bottom: 15px;
  color: #187aba;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}

.header-info {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.header-info dd {
  margin-left: 0%;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 22px;
}

.header-info dt {
  font-family: 'Open Sans', sans-serif;
}

.home-page-body {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-body h2 {
  color: #013462;
  font-family: 'Karla', sans-serif;
}

.portfolio-container {
  font-family: 'Open Sans', sans-serif;
}

.page-margin-container {
  display: flex;

}

.outside-margin {
  width: 100vw;
  height: 100vh;
  background-image: url('../../images/mountains.jpg');
  filter: grayscale(80%) contrast(2);
  opacity: 0.2;
}

.outside-margin.left {
  background-position: right;
}

.outside-margin.right {
    background-position: left;
}

.lower-half-outer-container {
  display: flex;
  justify-content: center;
}

.lower-half-home-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  
}

.lower-half-home-container h2 {
  color: #013462;
  font-family: 'Karla', sans-serif;
}