.top-news-container-home {
  flex-grow: 2;
  max-width: 70%;
}

.top-news-container-home ul {
  padding-left: 20px;
  list-style-type: none;
}

.top-news-container-home img {
  height: 100px;
  width: 100px;
  padding: 0 12px 12px 0;
}

.top-news-container-home li {
  display: flex;
}

.article-container {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.article-header {
  font-weight: bold;
  text-align: center;
}

.article-summary {
  font-size: 12px;
}