@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.footer-container__no-user {
  height: 30vh;
  width: 100%;
  background-color: #002b51;
  margin-top: 115px;
}

.footer-container__user {
  height: 45px;
  width: 100%;
  background-color: #013461;
  position: fixed;
  bottom: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  height: 100%;
  width: 1150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content span {
  color: white;
}

.footer-content span.index-quote {
  
}

.footer-content form {
  height: 100%;
  display: flex;
  align-items: center;
}

.footer-content form input {
  height: 50%;
  margin: 0%;
  padding-left: 15px;
  box-sizing: border-box;
  height: 100%;
  width: 185px;
  line-height: 3em;
  font-size: 1.2em;
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #187aba;
}

form input:focus {
  outline: none;
}

.search-field {
  background-color: white;
  height: 70%;
}

.fa-search {
  padding-left: 10px;
}


