@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.footer-container__no-user {
  flex-grow: 1;
  height: 30vh;
  width: 100%;
  background-color: #002b51;
  margin-top: 115px;
  color: white;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 32px 100px 0 100px; 
  bottom: 0vh;
  font-family: 'Karla', sans-serif;
}

.footer-container__no-user h1 {
  font-size: 1.25rem;
}

.footer-container__no-user a {
  color: white;
}

.footer-left div {
  margin-bottom: 13px;
}

.footer-left a {
  padding-right: 15px;
}

.footer-container__user {
  height: 45px;
  width: 100%;
  background-color: #013461;
  position: fixed;
  bottom: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  height: 100%;
  width: 1150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.footer-content span {
  color: white;
}

.footer-content span.index-quote green{
  color: green
}

.footer-content form {
  height: 100%;
  display: flex;
  align-items: center;
}

.footer-content form input {
  height: 50%;
  margin: 0%;
  padding-left: 15px;
  box-sizing: border-box;
  height: 100%;
  width: 185px;
  line-height: 3em;
  font-size: 1.2em;
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #187aba;
}

form input:focus {
  outline: none;
}

.search-field {
  background-color: white;
  height: 70%;
}

.fa-search {
  padding-left: 10px;
}

.footer-contact-container {
  display: flex;
  width: 33%;
  height: 25px;
  justify-content: center;
}

.login-page-footer-info {
  margin-left: 10px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.login-page-footer-info a{
  color: white;
}

#github-link {
  background-image: url('./GitHub-Mark-Light-120px-plus.png');
  background-size: contain;
  height: 30px;
  width: 30px;
  z-index: 9;
}