.trade-page-container {
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

.trade-page-container h2 {
  color: #013462;
  font-family: 'Karla', sans-serif;
}

.order-form-container {
  display: flex;
  flex-direction: column;
  min-width: 75%;
  background-color: white;
  margin-right: 15px;
  padding: 24px 16px;
}

.order-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: 10px;
}

.order-form-container input {
  line-height: 3em;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  color: #187aba;
  padding-left: 15px;
  margin-top: 10px;
}

.order-form-container button.disabled {
  border: 5px solid #b7b7b7;
  background-color: white;
  color: black;
}

.order-form-container label.disabled {
  color: #b7b7b7;
}

form .success {
  color: green;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
}

.trade-info-container {
  background-color: white;
  flex-grow: 1;
}

#trade-symbol-error {
  color: red;
}

.trade-action-container {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-left: 15px;
}

.buy-sell-container {
  margin-right: 40px;
}

.buy-sell-container select {
  height: 32px;
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid rgb(226, 223, 223);
  width: 220px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}

#trade-available-shares {
  color: #8f8d8d;
  font-size: 14px;
}
