.trade-page-container {
  display: flex;
}

.trade-page-container h2 {
  color: #013462;
  font-family: 'Karla', sans-serif;
}

.order-form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: white;
  margin-right: 15px;
}

.order-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.order-form-container input {
  line-height: 3em;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  color: #187aba;
  padding-left: 15px;
  margin-top: 10px;
}

.order-form-container button.disabled {
  border: 5px solid #b7b7b7;
  background-color: white;
  color: black;
}

.order-form-container label.disabled {
  color: #b7b7b7;
}

form .success {
  color: green;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
}

.trade-info-container {
  background-color: white;
  flex-grow: 1;
}
