@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.login-body {
  display: flex;
  height: 450px;
  width: 1150px;
}

.login-container {
  background-color: white;
  height: 100%;
  width: 380px;
  display: flex;
  flex-direction: column;
}

.login-container > h1 {
  align-self: center;
  color: #002b51;
  font-family: 'Karla', sans-serif;
  font-size: 25px;
}

.login-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  margin-bottom: 30px;
  width: 90%;
  border: none;
  border-bottom: 2px solid rgb(226, 223, 223);
  height: 30px;
}

.login-submit {
  margin-top: 30px;
  color: white;
  background-color: #187aba;
  width: 60%;
  height: 40px;
  border-radius: 24px;
  border: none;
}

.login-submit:hover {
  cursor: pointer;
  background-color: #002b51;
}

.signup-link {
  color: #187aba;
  margin-top: 25px;
  align-self: center;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  font-size: 1rem;
}

.signup-link:hover {
  color: #002b51;
}

.login-image {
  height: 100%;
  width: 770px;
  border-left: 20px solid #e9e9e9;
}

.login-image img {
  height: 100%;
  width: 100%;
}

.demo-login {
  margin-top: 25px;
  border-top: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.demo-login button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
  color: #187aba;
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.demo-login button:hover {
  color: #002b51;
}

@media screen and (min-device-width: 320px)
  and (max-device-width: 1200px) 
  and (orientation: portrait) {
    .footer-container__no-user {
      height: 70vh;
    }

    .login-image img {
      display: none;
    }

    .login-image {
      height: 0;
      width: 0;
    }

    .login-container {
      width: 100vw;
    }

    .login-body {
      display: flex;
      justify-content: center;
      width: 100vw;
    }

    .top-title-container.no-user {
      background-color: #002b51;
    }

    h1.header-title, a#repo-nav-link{
      color: white;
    }

  }