
.signup-page-container {
  display: flex;
  height: 500px;
}

.signup-page-sidebar {
  width: 33%;
}

.signup-page-sidebar h2 {
  color: #002b51;
  font-family: 'Karla', sans-serif;
}

.signup-page-form {
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: white;
  /* margin-right: -100px; */
}

.signup-page-form > form {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  width: 40%;
}

.signup-page-form .nav-link {
  color: #187aba;
  margin-top: 25px;
  align-self: center;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-weight: 800;
}

.signup-page-form .nav-link:hover {
  color: #002b51;
}


form input {
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid rgb(226, 223, 223);
  height: 30px;
}

form label {
  font-family: 'Karla', sans-serif;
}

form button {
  margin-top: 30px;
  color: white;
  background-color: #187aba;
  width: 75%;
  height: 40px;
  border-radius: 24px;
  border: none;
  align-self: center;
}

form button:hover {
  cursor: pointer;
  background-color: #002b51;
}

form ul {
  align-self: start;
}

form li {
  color: #a00;
  list-style-type: none;
}