@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.top-title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-title {
  color: #002b51;
  font-family: 'Karla', sans-serif;
}

.nav-title-container {
  width: 1150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logged-in {
  background-color: white;
}

.nav-title-container a {
  color: #187aba;
  font-family: 'Open Sans', sans-serif;
}

.nav-title-container p {
  margin-left: 45%;
  font-family: 'Open Sans', sans-serif;
}

/**** Nav Bar ****/
.nav-bar {
  height: 45px;
  width: 100%;
  background-color: #013462;
  display: flex;
  justify-content: center;
  /* position: ; */
}

.nav-bar-content {
  width: 1150px;
}

.nav-bar-content ul {
  height: 100%;
  margin: 0%;
  padding: 0%;
}

.nav-bar-content a {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.navLink-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
}

.navLink-container:hover {
background-color: #187aba;
cursor: pointer;
}